<% provide(:title, "Accueil") %>
<!-- NAVBAR !-->
<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%=image_tag("LOGO_retina.png", alt: "Logo de Parentheze")%>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="" class="navbar-wagon-item navbar-wagon-link">Contact</a>

    <a href="" class="navbar-wagon-item navbar-wagon-link">Blog</a>

    <!-- Notification link-->
    <!--     <a href="" class="navbar-wagon-item navbar-wagon-link">
      <div class="badge-container">
        <i class="fa fa-envelope-o"></i>
        <div class="badge badge-blue">3</div>
      </div>
    </a> -->

    <!-- Profile picture and dropdown -->
    <!--     <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="http://placehold.it/50x50" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div> -->

    <a href="" class="navbar-wagon-item navbar-wagon-button btn">Connexion</a>
  </div>

  <!-- Dropdown appearing on mobile only = hidden-md hidden-lg -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Connexion</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- BANNER TOP !-->
<div class="banner" id="top">
  <div class="banner-content  top text-center">
    <h1>LA NOUVELLE VIE DES PARENTS</h1>
    <a class="btn btn-primary btn-lg">INSCRIVEZ-VOUS MAINTENANT</a>
    <p class="hidden-xs hidden-sm">Réseau social des parents, solutions de garde collaboratives, mutualisation de baby-sitter et actualité dédiée.</p>
    <p class="hidden-md hidden-lg">Réseau social des parents et</br> solutions de garde collaboratives</p>
    <a href="#preview" class="scroll"><%=image_tag("arrow.png", alt:"fleche vers le bas pour défiler", class:"pulse btn-scroll-down")%></a>
  </div>
</div>

<!-- PREVIEW !-->
<div class="banner" id="preview">
    <%=image_tag("preview_mosaique.jpg", alt: "aperçu de la mosaique du réseau social", class:"img-medium hidden-xs hidden-sm")%>
    <div class="banner-content text-left">
        <%=image_tag("preview_mosaique.jpg", alt: "aperçu de la mosaique du réseau social de parents", class:"img-medium hidden-md hidden-lg")%>
        <h2>TROUVEZ DES PARENTS COMME VOUS,</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
        <a class="btn btn-primary btn-lg">INSCRIVEZ-VOUS MAINTENANT</a>
        <a href="#plan" class="scroll"><%=image_tag("arrow.png", alt:"fleche vers le bas pour défiler", class:"pulse btn-scroll-down")%></a>
    </div>
</div>


<!-- PLANS !-->
<div class="banner text-center" id="plan">
  <div class="banner-content">
    <h2>DES FORFAITS DE GARDE ENTRE PARENTS</h2>
    <p class="hidden-xs">Parce que demander un service gratuit est un frein, que nous ressentons le besoin de nous justifier et n’osons pas abuser. Nous avons pensé à des forfaits de garde entre parents. Les parents et amis reçoivent la garde de vos enfants en échanges d’une compensation de votre part, ou inversement.</p>
    <p class="hidden-sm hidden-md hidden-lg">Parce que demander un service gratuit à ses amis, voisins parents est un frein, nous avons pensé à des forfaits de garde en échanges d’une compensation de votre part, ou inversement.</p>
    <div class="plan-card hidden-xs">
      <%=image_tag("forfait_soiree", alt:"forfait soiree à 22€ pour la garde des enfants", class:"img-wrapper card")%>
      <%=image_tag("forfait_nuit", alt:"forfait soiree à 38€ pour la garde des enfants", class:"img-wrapper card")%>
      <%=image_tag("forfait_grassemat", alt:"forfait soiree à 45€ pour la garde des enfants", class:"img-wrapper card")%>
    </div>
    <div class="plan-card hidden-sm hidden-md hidden-lg">
      <%=image_tag("forfait_soiree_inline", alt:"forfait soiree à 22€ pour la garde des enfants", class:"img-wrapper card")%>
      <%=image_tag("forfait_nuit_inline", alt:"forfait soiree à 38€ pour la garde des enfants", class:"img-wrapper card")%>
      <%=image_tag("forfait_grassemat_inline", alt:"forfait soiree à 45€ pour la garde des enfants", class:"img-wrapper card")%>
    </div>
    <a class="btn btn-primary btn-lg">INSCRIVEZ-VOUS MAINTENANT</a>
  </div>
      <a href="#footer" class="scroll"><%=image_tag("arrow.png", alt:"fleche vers le bas pour défiler", class:"pulse btn-scroll-down")%></a>
</div>

<!-- FOOTER !-->
<div class="banner text-center" id="footer">
  <div class="banner-content">
    <h2>PARENTHEZE, </br> POUR NOUS, LES PARENTS.</h2>
    <div class="picto-wrapper">
      <a href="https://medium.com/@parentgenial" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a>
      <a href="https://www.facebook.com/parenthezeapp/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      <a href="mailto:parentgenial@parentheze.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
      <a href="https://www.facebook.com/groups/1860665404215862/"><i class="fa fa-users" aria-hidden="true"></i></a>
    </div>

    <a class="btn btn-primary btn-lg">INSCRIVEZ-VOUS MAINTENANT</a>
  </div>
      <a href="#top" class="scroll"><%=image_tag("btn_cup.png", alt:"fleche vers le bas pour défiler", class:"pulse btn-scroll-down")%></a>
</div>

<!-- SCRIPT !-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script>
  $(window).scroll(function() {
    $('#animatedElement').each(function(){
    var imagePos = $(this).offset().top;

    var topOfWindow = $(window).scrollTop();
      if (imagePos < topOfWindow+400) {
        $(this).addClass("slideUp");
      }
    });
  });

  $(document).on('click', 'a.scroll', function(event){
    event.preventDefault();

    $('html, body').animate({
        scrollTop: $( $.attr(this, 'href') ).offset().top
    }, 500);
  });
</script>
